<h1> IM SHOWING Dat TEAM </h1>
<strong><p>
<%= @team.name %>
</p></strong>

<!-- <p>
<%= @team.players.pluck :name %>
</p> -->



<% @team.players.each do |player| %>
	<p>
		<%= link_to player.name, "/players/#{player.id}" %>
	</p>
<% end %>

<h3>Recent Games</h3>
<% @games.each do |game| %>
	<%= link_to game.game_title, game %><br>
	
<% end %>

<%= link_to "Back", teams_path %>