<h1>Log Upload</h1>
<strong><p>Upload your log file</p></strong>

<%= form_tag "/games", multipart: true do %>
	<p>
		<%= label_tag "Name dat file" %>
		<%= text_field_tag :name %>

	</p>

	<p>
		<%= label_tag "Select BLUE team" %>
    	<%= select_tag :blue_team, options_for_select(Team.all.map { |team| [ team.name, team.name ] }), :include_blank => true %>
  	</p>
 	
 	<p>
		<%= label_tag "Select RED team" %>
    	<%= select_tag :red_team, options_for_select(Team.all.map { |team| [ team.name, team.name ] }), :include_blank => true %>
  	</p>

	<p>
		<%= label_tag :file, "Upload Dat File" %>
		<%= file_field_tag :file %>
	</p>

	<%= submit_tag "Upload it" %>
<% end %>

<%= link_to 'Back', games_path %>


<h3> Delete a game </h3>
<%= form_tag "/games/delete", method: :delete do %>
	<p>
		<%= label_tag "Delete Selected Game" %>
    	<%= select_tag :game, options_for_select(Game.all.map { |game| [ game.game_title, game.game_title ] }), :include_blank => true %>
  	</p>

  	<%= submit_tag "Delete Game" %>
<% end %>