<h1><%= @game.red_team %> VS <%= @game.blue_team %></h1>

Game : <%= @game.game_title %><br>
Map : <%= @game.map %><br>
Red Team : <%= link_to @game.red_team, @red_team %><br>
Blue Team : <%= link_to @game.blue_team, @blue_team %><br>
