<h1>All players</h1>
<%= link_to 'Teams', teams_path %>
<%= link_to 'Player List', controller: 'players' %>
<%= link_to 'New Player', new_player_path %>
<%= link_to 'Games', games_path %>

<table>
	<tr>
		<th>Name</th>
		<th>Team</th>
		<th>Steam Id</th>
	</tr>
	<% @players.each do |player| %>
	<tr>
		<td><%= link_to player.name, player_path(player) %></td>
		<td><%= player.team.name if player.team %></td> 
		<td><%= player.steam_id %></td>
		<td><%= link_to 'Show', player_path(player) %></td>
		<td><%= link_to 'Edit', edit_player_path(player) %></td>
		<td><%= link_to 'destroy', player_path(player), method: :delete, data: { confirm: "are you sure?"} %></td>
	</tr>
	<%end%>
</table>

<h3>***** DEFENCE KILLS LIST *************************************</h3>
<% @players_ordered.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>
<h3>______________________________________________________________</h3>
<br />

<h3>***** DEFENCE DEATHS LIST ************************************</h3>
<% @players_ordered2.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>
<h3>______________________________________________________________</h3>
<br />

<h3>***** DEFENCE TEAM KILLS LIST ********************************</h3>
<% @players_ordered7.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>
<h3>______________________________________________________________</h3>
<br />

<h3>***** BLUE KILLS LIST ****************************************</h3>
	<% @players_ordered4.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>
<h3>______________________________________________________________</h3>
<br />

<h3>***** BLUE DEATHS LIST ***************************************</h3>
<% @players_ordered5.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>
<h3>______________________________________________________________</h3>
<br />

<h3>***** BLUE SGS LIST MANG *************************************</h3>
<% @players_ordered3.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>	
<h3>______________________________________________________________</h3>
<br />

<h3>***** FLAG TOUCHES LIST MANG *********************************</h3>
<% @players_ordered6.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>	
<h3>______________________________________________________________</h3>
<br />

<h3>***** FLAG CAPS LIST MANG ************************************</h3>
<% @players_ordered8.each do |player| %>
	<p><strong><%= player[0] %>: </strong><%= player[1] %></p>
<% end %>	
<h3>______________________________________________________________</h3>
<br />