<h1>Player (Show)</h1>
<%= link_to 'Teams', teams_path %>
<%= link_to 'Player List', controller: 'players' %>
<%= link_to 'New Player', new_player_path %>
<%= link_to 'Games', games_path %>

<p>
	<strong>Name:</strong>
	<%= @player.name %>
</p>

<% if @player.team %>
	<p>
		<strong>Team:</strong>
		<%= link_to @player.team.name, "/teams/#{@player.team.id}" %>
	</p>
<% end %>

<p>
	<strong>Steam Id:</strong>
	<%= @player.steam_id %>
</p>
<h3>Defence</h3>
<p> 
	<%= @player.red_kills %> : Kills<br>
	<%= @player.red_deaths %> : Deaths<br>
	<%= ((@player.red_kills).to_f / (@player.red_deaths).to_f).round(2) %> : KDR <br>
	<%= @player.red_tks %> : Team Kills<br>
</p>
<h3>Offence</h3>
<p> 
	<%= @player.blue_kills %> : Kills<br>
	<%= @player.blue_deaths %> : Deaths<br>
	<%= ((@player.blue_kills).to_f / (@player.blue_deaths).to_f).round(2) %> : KDR <br>
	<%= @player.blue_tks %> : Team Kills<br>
	<%= @player.blue_touches %> : Flag Touches<br>
	<%= @player.blue_caps %> : Flag Captures<br>
	<%= @player.blue_sgs %> : Sg Kills<br>
</p>
<%= link_to 'Back', players_path %>
<%= link_to 'Edit', edit_player_path %>